<div class="flex flex-row h-100 gap-12">
  <div class="bg-gray-100 p-3">
    <%= form_with url: forecast_path, method: :get, scope: @address, data: { turbo_frame: "forecast" } do |form| %>
      <%= form.label :postal_code %>
      <%= form.text_field :postal_code, class: "bg-white rounded" %>

      <%= form.submit "Retrieve Forecast", class: "middle none center mr-3 rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
    <% end %>
  </div>

  <%= turbo_frame_tag "forecast" do %>
  <% end %>
</div>
